<a href="https://colab.research.google.com/github/ENGRMike/genre-prediction/blob/main/genre_etl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd

/content

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
!ls /content/gdrive/MyDrive/ML/Data/imdb_genres/

cleaned_movie_data.csv	       metadata.csv	     movie_data_one_hot.csv
data-20210910T014654Z-001.zip  movie_data_embed.csv  plot_summaries.txt
Genre-Notes.csv		       movie_data_lemma.csv

In [ ]:
data_location = "/content/gdrive/MyDrive/ML/Data/imdb_genres/"
metadata_csv = "metadata.csv"
plot_csv = "plot_summaries.txt"

In [ ]:
import pandas as pd

In [ ]:
metadata_df = pd.read_csv(f"{data_location}{metadata_csv}", index_col=False, converters={"languages": eval, "countries": eval, "genres": eval})
plots_df = pd.read_csv(f"{data_location}{plot_csv}", sep="\t", header=None)
plots_df.columns = ["movie_id", "plot"]

In [ ]:
metadata_df.head(5)

   movie_id  ...                                             genres
0    975900  ...  [action, horror/thriller, sci-fi/fantasy, west...
1   9363483  ...                                  [horror/thriller]
2    261236  ...                                            [drama]
3  18998739  ...                    [action, drama, sci-fi/fantasy]
4   6631279  ...                           [comedy, drama, romance]

[5 rows x 8 columns]

In [ ]:
plots_df.head(5)

   movie_id                                               plot
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...

In [ ]:
movies_df = metadata_df.merge(plots_df, on="movie_id", how="inner")

In [ ]:
movies_df.head(5)

   movie_id  ...                                               plot
0    975900  ...  Set in the second half of the 22nd century, th...
1   9363483  ...  A series of murders of rich young women throug...
2    261236  ...  Eva, an upper class housewife, becomes frustra...
3  18998739  ...  Every hundred years, the evil Morgana  returns...
4   6631279  ...  Adam, a San Francisco-based artist who works a...

[5 rows x 9 columns]

In [ ]:
movie_clean_df = movies_df[["movie_name", "genres", "plot"]].copy()

In [ ]:
import re

def clean_text(text):
  text = re.sub("\'", "", text)
  text = re.sub("[^a-zA-Z]", " ", text)
  text = " ".join(text.split())
  text = text.lower()

  return text

In [ ]:
movie_clean_df["clean_plot"] = movie_clean_df["plot"].apply(lambda x: clean_text(x))

movie_clean_df.head(5)

                  movie_name  ...                                         clean_plot
0             ghosts of mars  ...  set in the second half of the nd century the f...
1           white of the eye  ...  a series of murders of rich young women throug...
2          a woman in flames  ...  eva an upper class housewife becomes frustrate...
3  the sorcerer's apprentice  ...  every hundred years the evil morgana returns t...
4                little city  ...  adam a san francisco based artist who works as...

[5 rows x 4 columns]

In [ ]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words("english"))

def remove_stopwords(text):
  text = [w for w in text.split() if not w in stopwords]
  return " ".join(text)

In [ ]:
movie_clean_df["clean_plot"] = movie_clean_df["clean_plot"].apply(lambda x: remove_stopwords(x))

In [ ]:
movie_clean_df.head(5)

                  movie_name  ...                                         clean_plot
0             ghosts of mars  ...  set second half nd century film depicts mars p...
1           white of the eye  ...  series murders rich young women throughout ari...
2          a woman in flames  ...  eva upper class housewife becomes frustrated l...
3  the sorcerer's apprentice  ...  every hundred years evil morgana returns claim...
4                little city  ...  adam san francisco based artist works cab driv...

[5 rows x 4 columns]

In [ ]:
nltk.download("wordnet")
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
  return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
%time movie_clean_df["lemma_plot"] = movie_clean_df["clean_plot"].apply(lemmatize_text)

CPU times: user 36.3 s, sys: 1.08 s, total: 37.4 s
Wall time: 37.5 s

In [ ]:
movie_clean_df.head()

                  movie_name  ...                                         lemma_plot
0             ghosts of mars  ...  [set, second, half, nd, century, film, depicts...
1           white of the eye  ...  [series, murder, rich, young, woman, throughou...
2          a woman in flames  ...  [eva, upper, class, housewife, becomes, frustr...
3  the sorcerer's apprentice  ...  [every, hundred, year, evil, morgana, return, ...
4                little city  ...  [adam, san, francisco, based, artist, work, ca...

[5 rows x 5 columns]

In [ ]:
movie_clean_df.to_csv(f"{data_location}movie_data_lemma.csv")

In [ ]:
movie_df = pd.read_csv(f"{data_location}movie_data_lemma.csv", converters={"genres": eval, "lemma_plot": eval})
movie_df.head()

   Unnamed: 0  ...                                         lemma_plot
0           0  ...  [set, second, half, nd, century, film, depicts...
1           1  ...  [series, murder, rich, young, woman, throughou...
2           2  ...  [eva, upper, class, housewife, becomes, frustr...
3           3  ...  [every, hundred, year, evil, morgana, return, ...
4           4  ...  [adam, san, francisco, based, artist, work, ca...

[5 rows x 6 columns]

In [ ]:
one_hot = pd.get_dummies(movie_df["genres"].apply(pd.Series).stack()).sum(level=0)
one_hot.head()

   Misc  action  comedy  ...  romance  sci-fi/fantasy  western
0     0       1       0  ...        0               1        1
1     0       0       0  ...        0               0        0
2     0       0       0  ...        0               0        0
3     0       1       0  ...        0               1        0
4     0       0       1  ...        1               0        0

[5 rows x 9 columns]

In [ ]:
df = movie_df.join(one_hot)
df.head(5)

   Unnamed: 0                 movie_name  ... sci-fi/fantasy western
0           0             ghosts of mars  ...              1       1
1           1           white of the eye  ...              0       0
2           2          a woman in flames  ...              0       0
3           3  the sorcerer's apprentice  ...              1       0
4           4                little city  ...              0       0

[5 rows x 15 columns]

In [ ]:
df.to_parquet(f"{data_location}movie_data_one_hot.parquet")